<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Kaviti's Wedding &mdash;</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="{{url_for('static', filename='js/modernizr-2.6.2.min.js')}}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<div id="fh5co-logo"><a href="index.html">Kaviti's Wedding<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a href="{{url_for('index')}}">Home</a></li>
						<li><a href="{{url_for('aboutUs')}}">About Us</a></li>
						
						
						<li class="active"><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('static/images/contact1.png'	);">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Contact Us</h1>
													</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-2 text-center fh5co-heading animate-box">
					<div class="fh5co-contact-info">
					<h3 align="center">Contact Information</h3>
						<ul>
							<li class="address">Dr.No:2-93, Main Veedhi, Konda temburu(V), Nandigam(M), Srikakulam(D), A.P, 532218.<br>
								Location Of Venue-<a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x3a3d009d3e5ff8f7:0x4503c77f67175980?utm_source=mstt_1">Location</a></li>

							<li class="phone">7207366926, 7981956619</li>
							<!-- <li class="email"><a href="mailto:info@yoursite.com">akhilachintalapati.2904@gmail.com</a></li> -->
							
							
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<!-- <div id="fh5co-couple" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-push-6 animate-box">	
				</div>
				<div class="col-md-5 col-md-pull-5 animate-box">
					
					
						<h3>Contact Information</h3>
						<ul>
							<li class="address">Dr.No-3-28-1/1,Jampanavari Street,<br>MR.Peta,Tuni</li>
							<li class="phone"><a href="tel://1234567920">9704966256</a></li>
							<li class="email"><a href="mailto:info@yoursite.com">akhilachintalapati.2904@gmail.com</a></li>
							
						</ul>
					</div>

				</div>
			</div>
			
		</div> -->
	</div>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>

  <!-- jQuery Easing -->
  <script src="{{url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
  <!-- Bootstrap -->
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <!-- Waypoints -->
  <script src="{{url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
  <!-- Carousel -->
  <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
  <!-- countTo -->
  <script src="{{url_for('static', filename='js/jquery.countTo.js')}}"></script>

 <!-- Stellar -->
  <script src="{{url_for('static', filename='js/jquery.stellar.min.js')}}"></script>
  <!-- Magnific Popup -->
  <script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/magnific-popup-options.js')}}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
  <script src="{{url_for('static', filename='js/google_map.js')}}"></script>

  <!-- Main -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>


	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

